/* Style de la section Contact */
.contact .row {
    display: flex;
    align-items: center;
}

/* Style de l'image */
.contact-image {
    max-width: 100%; /* Utilisation de toute la largeur disponible */
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transform: scale(1.2); /* Agrandir l'image de 20% */
}

/* Centrer l'image dans la colonne */
.col-lg-6.text-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
