<!-- Contact Section -->
<section id="contact" class="contact section">

  <!-- Section Title -->
  <div class="container section-title">
      <h2>Contact</h2>
      <p>Get in touch with us for any inquiries or collaboration opportunities</p>
  </div><!-- End Section Title -->

  <div class="container">
      <div class="row gy-4">
          <!-- Partie Contact à gauche -->
          <div class="col-lg-6">
              <div class="row gy-4">
                  <div class="col-lg-12">
                      <div class="info-item d-flex flex-column justify-content-center align-items-center">
                          <i class="bi bi-geo-alt"></i>
                          <h3>Address</h3>
                          <p>Technopole Ariana, El Ghazela</p>
                      </div>
                  </div>

                  <div class="col-md-6">
                      <div class="info-item d-flex flex-column justify-content-center align-items-center">
                          <i class="bi bi-telephone"></i>
                          <h3>Call Us</h3>
                          <p>+216 70563258</p>
                      </div>
                  </div>

                  <div class="col-md-6">
                      <div class="info-item d-flex flex-column justify-content-center align-items-center">
                          <i class="bi bi-envelope"></i>
                          <h3>Email Us</h3>
                          <p>espritinternship.tn</p>
                      </div>
                  </div>
              </div>
          </div>

          <!-- Image à droite dans l'espace blanc -->
          <div class="col-lg-6 text-center">
              <img src="assets/frontassets/img/4.jpg" alt="Partnership Image" class="contact-image">
          </div>
      </div>
  </div>

</section><!-- /Contact Section -->
