  <!-- Hero Section -->
  <section id="hero" class="hero section">

    <img src="assets/frontassets/img/hero-bg.jpg" alt="" >

    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <h2 >Find your ideal internship and kickstart your career with unique professional opportunities.</h2>
          <p >Access diverse internships, boost your skills, and gain valuable experience with leading companies.</p>
          <div class="d-flex mt-4" >
            <a routerLink="" class="btn-get-started">Get Started</a>
            
          </div>

        </div>
      </div>
    </div>

  </section><!-- /Hero Section -->