<app-headerback></app-headerback>
<app-sideback></app-sideback>

<div id="page-wrapper">
  <div class="container-fluid">
    <div class="row bg-title">
      <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h4 class="page-title">Edit Answer</h4>
      </div>
    </div>

    <div class="white-box">
      <form (ngSubmit)="updateAnswer()">
        <div class="form-group">
          <label for="response">Answer</label>
          <input id="response" [(ngModel)]="answer.response" name="response" class="form-control" required />
        </div>

        <div class="form-group">
          <label>
            <input type="checkbox" [(ngModel)]="answer.isCorrect" name="isCorrect" /> Correct?
          </label>
        </div>

        <button type="submit" class="btn btn-success">Update</button>
        <a [routerLink]="['/list-answers', answer.question.id]" class="btn btn-secondary">Cancel</a>
      </form>
    </div>
  </div>
</div>
