<body>
    <!-- Sidebar Navigation -->
    <div class="navbar-default sidebar" role="navigation">
      <div class="sidebar-nav slimscrollsidebar">
        <div class="sidebar-head">
          <!-- Logo Esprit ajouté ici -->
          <div class="logo">
            <img src="assets/backassets/plugins/images/Logo_ESPRIT_Ariana.jpg" alt="Logo Esprit" class="logo-img">
          </div>
         
        </div>
  
        <ul class="nav" id="side-menu">
          <li style="padding: 70px 0 0;">
          </li>
          <li>
            <a routerLink="/profileback" class="waves-effect">
              <i class="fa fa-user fa-fw" aria-hidden="true"></i>My Profile
            </a>
          </li>
          <li>
            <a routerLink="/backoffice/dashboard-offers" class="waves-effect">
              <i class="fa fa-dashboard fa-fw" aria-hidden="true"></i> Dashboard
            </a>
          </li>
          <li>
            <a routerLink="/backoffice/global-statistics">🏢 Global Statistics</a></li>
    <li>
      <a routerLink="/backoffice/company-statistics">🏢 Company Statistics</a></li>
          <li>
            <a routerLink="/backoffice/internship-offer-form" class="waves-effect">
              <i class="fa fa-briefcase fa-fw" aria-hidden="true"></i>Internship Offers
            </a>
          </li>
          <li>
            <a href="/backoffice/dashboard-apps" class="waves-effect">
              <i class="fa fa-file-text fa-fw" aria-hidden="true"></i>Applications
            </a>
          </li>
          <li>
            <a href="evaluations.html" class="waves-effect">
              <i class="fa fa-star fa-fw" aria-hidden="true"></i>Evaluations
            </a>
          </li>
          <li>
            <a href="appointments.html" class="waves-effect">
              <i class="fa fa-calendar-check-o fa-fw" aria-hidden="true"></i>Appointments
            </a>
          </li>
          <li>
            <a href="companies.html" class="waves-effect">
              <i class="fa fa-building fa-fw" aria-hidden="true"></i>Companies
            </a>
          </li>
          <li>
            <a href="404.html" class="waves-effect">
              <i class="fa fa-exclamation-circle fa-fw" aria-hidden="true"></i>Error 404
            </a>
          </li>
        </ul>
      </div>
      <div class="center p-20">
        <a href="https://wrappixel.com/templates/ampleadmin/" target="_blank" class="btn btn-danger btn-block waves-effect waves-light">Home</a>
      </div>
    </div>
  
    <!-- Scripts -->
    <script src="/assets/backassets/plugins/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/assets/backassets/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/assets/backassets/plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.js"></script>
    <script src="/assets/backassets/js/jquery.slimscroll.js"></script>
    <script src="/assets/backassets/js/waves.js"></script>
    <script src="/assets/backassets/plugins/bower_components/waypoints/lib/jquery.waypoints.js"></script>
    <script src="/assets/backassets/plugins/bower_components/counterup/jquery.counterup.min.js"></script>
    <script src="/assets/backassets/plugins/bower_components/chartist-js/dist/chartist.min.js"></script>
    <script src="/assets/backassets/plugins/bower_components/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.min.js"></script>
    <script src="/assets/backassets/plugins/bower_components/jquery-sparkline/jquery.sparkline.min.js"></script>
    <script src="/assets/backassets/js/custom.min.js"></script>
    <script src="/assets/backassets/js/dashboard1.js"></script>
    <script src="/assets/backassets/plugins/bower_components/toast-master/js/jquery.toast.js"></script>
  </body>
  