<h2 mat-dialog-title>{{ isEditMode ? 'Edit Interview' : 'Add Interview' }}</h2>
<mat-dialog-content>
  <form [formGroup]="form">
    
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Title</mat-label>
      <input matInput formControlName="title" required />
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Location</mat-label>
      <input matInput formControlName="location" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description"></textarea>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Start Date & Time</mat-label>
      <input matInput type="datetime-local" formControlName="startDateTime" required />
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>End Date & Time</mat-label>
      <input matInput type="datetime-local" formControlName="endDateTime" required />
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Status</mat-label>
      <mat-select formControlName="status" required>
        <mat-option value="SCHEDULED">SCHEDULED</mat-option>
        <mat-option value="COMPLETED">COMPLETED</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Tuteur</mat-label>
      <textarea matInput formControlName="tuteur"></textarea>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Student</mat-label>
      <mat-select formControlName="studentId" >
        <mat-option *ngFor="let user of users" [value]="user.userId">
            {{ user.username }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Intership Offer</mat-label>
      <mat-select formControlName="offreId" >
        <mat-option *ngFor="let offre of offres" [value]="offre.id">
          {{ offre.title }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    

  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="onCancelClick()">Cancel</button>
  <button mat-button color="warn" *ngIf="isEditMode" (click)="onDeleteClick()">Delete</button>
  <button mat-raised-button color="primary" [disabled]="form.invalid || isInvalidDateOrder()" *ngIf="!isCompleted" (click)="onSaveClick()">
    {{ isEditMode ? 'Update' : 'Save' }}
  </button>
</mat-dialog-actions>
