<app-headerback></app-headerback>
<app-sideback></app-sideback>

<div id="page-wrapper">
  <div class="container-fluid">
    <div class="row bg-title">
      <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h4 class="page-title">Quiz List</h4>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
        <div class="white-box">
          <table class="table">
            <thead>
              <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Description</th>
                <th>Specialty</th>
                <th>Date</th>
                <th>Level</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let quiz of quizzes">
                <td>{{ quiz.id }}</td>
                <td>{{ quiz.title }}</td>
                <td>{{ quiz.description }}</td>
                <td>{{ quiz.specialite }}</td>
                <td>{{ quiz.dateQuiz | date: 'dd/MM/yyyy' }}</td>
                <td>{{ quiz.level }}</td>
                <td>
                  <a [routerLink]="['/update-quiz', quiz.id]" class="btn btn-warning btn-sm">Update</a>
                  <button class="btn btn-danger btn-sm" (click)="deleteQuiz(quiz.id)">Delete</button>
                  <a [routerLink]="['/add-question', quiz.id]" class="btn btn-info btn-sm">Add Questions</a>
                  <a [routerLink]="['/questions-list', quiz.id]" class="btn btn-success btn-sm">List of Questions</a>
                </td>
              </tr>
            </tbody>
          </table>

          <div class="text-right mt-3">
            <a routerLink="/create-quiz" class="btn btn-primary">Add a Quiz</a>
            <a routerLink="/quiz-statistics" class="btn btn-secondary ml-2">📊 View Statistics</a>
          </div>  
        </div>
      </div>
    </div>
  </div>
</div>
